<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_L_at_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,520},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{84,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_at_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,674},{80,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_at_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{82,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_at_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,298},{90,70}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_at_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,370},{88,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{88,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_at_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,444},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{86,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{84,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{84,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,74}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{94,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{92,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{90,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{90,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,76},{94,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{94,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{94,70}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{94,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,630},{82,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{82,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{94,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{94,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{90,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,226},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{94,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_L_wk_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,462},{84,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{84,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{78,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,596},{76,82}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{78,88}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{78,74}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,700},{74,78}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_at_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,548},{78,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,306},{66,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{66,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,750},{64,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{64,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,816},{64,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{64,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,776},{66,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,894},{68,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{68,74}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,386},{70,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{70,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{68,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,910},{64,74}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{64,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,844},{64,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{64,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{66,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{66,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11_T_wk_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,226},{66,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{66,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy11.png</string>
            <key>size</key>
            <string>{254,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aaf2410c717f6231b23351d2d59a607:5f54e1091484718dc873e93a6322508a:131ee7b82ec017af0a18a7e82673b544$</string>
            <key>textureFileName</key>
            <string>enemy11.png</string>
        </dict>
    </dict>
</plist>
