/**
* 页面顶部样式
*/
#cocos_top {
   /* min-width: 1000px;*/
    height: 30px;
    background: #f5f5f5;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
}
#cocos_top .fl {
    float: left;
}
#cocos_top .fr {
    float: right;
}

#cocos_top * {
    margin: 0;
    padding: 0;
    border: 0;
}
#cocos_top .wrap {
    /*width: 1000px;*/
    margin: 0 auto;
    position: relative;
}
#cocos_top .wrap.clearfix {
    display: inline-block;
    display: block;
}
#cocos_top .wrap.clearfix:before,
#cocos_top .wrap.clearfix:after {
    content: " ";
    display: table;
}
#cocos_top .wrap.clearfix:after {
    clear: both;
}

#cocos_top a {
    color: #666;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    text-decoration: none;
    line-height: 30px;
}
#cocos_top a.fr {
    margin-left: 10px;
    float: right;
}
#cocos_top span.shu{
    margin-left: 10px;
    margin-top: 9px;
    height:12px;
    border-left:1px solid #cfcece;
}
#cocos_top a:hover {
    text-decoration: none;
    background: none;
    color:#2d97f9;
}
#cocos_top h1.logo {
    float: left;
    height:30px;
    font-weight: normal;
    margin:0;
    font-size: 16px;
}
#cocos_top h1.logo a {
    text-decoration: none;
    color:#292929;
}
#cocos_top h1.logo a span {
    font-size: 14px;
    color:#292929;
}

#cocos_top .usermenu {

    padding: 0;
    position: relative;
    z-index: 999;
    background: #f5f5f5;
    width: 154px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#cocos_top .usermenu .icon_drop {
    width: 20px;
    height: 13px;
    display: inline-block;
    background-image: url("../img/drop_icon2.png");
    background-repeat: no-repeat;
    background-position: -20px 0;
    position: relative;
    top: 2px;
}
#cocos_top .usermenu:hover {
    background: #fff;
}
#cocos_top .usermenu a {
    text-decoration: none;
    color: #666;
}
#cocos_top .usermenu a#user {
    padding: 0 10px;
    display: block;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
#cocos_top .usermenu:hover a#user{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
#cocos_top .usermenu a#user span {
    display: inline-block;
    width: 112px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#cocos_top .usermenu a#user i {
    position: relative;
    top: 10px;
}
#cocos_top .usermenu ul {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 130px;
    display: none;
    border: 1px solid #dedede;
    border-top: 0;
    padding-top:4px;
    background: #fff;
}
#cocos_top .usermenu ul li.rz{
    height: 30px;
}
#cocos_top .usermenu ul li {
    height: 30px;
    line-height: 30px;
    background: #fff;
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    text-align: center;
}
#cocos_top .usermenu ul li a {
    color: #666;
    text-align: center;
    display: block;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#cocos_top .usermenu ul li a:hover {
    text-decoration: none;
}
#cocos_top .usermenu ul li:hover {
    background: #f5f5f5;
}
#cocos_top .usermenu ul li:hover a {
    color: #666;
}

/*移动英文版*/
#cocos_top.mobileheaderbg{min-width: 100%;}
#cocos_top .mobilewrap{width: 100%; max-width: 1000px;}